@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face{
 font-family:'digital-7';
 src: url('/digital-7.ttf');
}

@font-face{
 font-family:'digital-7-mono';
 src: url('/digital-7 (mono).ttf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

.topbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.topbar-title-holder {
    display: flex;
    align-items: center;
}

.topbar-title-icon {
    width: 32px;
    height: 32px;
    background-image: url(/static/img/logo_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.topbar-title {
    font-size: 27px;
    font-family: digital-7;
    height: 24px;
}

.title-omni {
    color: blue;
}

.title-alarm {
    color: #ff0000;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.dur-holder {
    width: 320px;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.dur-fig {
    font-family: 'digital-7-mono', sans-serif;
    color: red;
    width: auto;
    height: 60px;
    display: inline-block;
}

.dur-sep {
    font-family: 'digital-7-mono', sans-serif;
    color: red;
    width: auto;
    height: 60px;
    display: inline-block;
    animation: blink 1s step-start 0s infinite;
}

.dur-sub {
    font-size: 40px;
    margin-top: 44px;
    margin-left: 10px;
}

.alarm-holder {
    width: 320px;
    height: 200px;
    background-color: white;
}