@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face{
 font-family:'digital-7';
 src: url('/digital-7.ttf');
}

@font-face{
 font-family:'digital-7-mono';
 src: url('/digital-7 (mono).ttf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  background: linear-gradient(to right, #47bdc1, #30ad9d);
}

.topbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: #ffffff59;
    box-shadow: 0px 1px 2px #00000078;
    background: linear-gradient(to bottom, #ffffff3b, #ffffff0d);
    justify-content: space-between;
}

.topbar-title-holder {
    display: flex;
    align-items: center;
}

.topbar-title-icon {
    width: 32px;
    height: 32px;
    background-image: url(/static/img/logo_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.topbar-title {
    font-size: 27px;
    font-family: digital-7;
    height: 24px;
}

.topbar-actions {
    padding: 0px 10px;
    box-sizing: border-box;
}

.topbar-action {
    font-size: 35px;
    color: #2c979e;
    transition: color 0.5s;
    cursor: pointer;
    padding: 0px 10px;
    box-sizing: border-box;
}

.topbar-action:hover {
    font-size: 35px;
    color: black;
}

.content {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
}

.title-omni {
    color: black;
}

.title-alarm {
    color: white;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.dur-holder {
    width: 240px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

.dur-fig {
    font-family: 'digital-7-mono', sans-serif;
    width: auto;
    height: 45px;
    display: inline-block;
}

.dur-sep {
    font-family: 'digital-7-mono', sans-serif;
    width: auto;
    height: 45px;
    display: inline-block;
    animation: blink 1s step-start 0s infinite;
}

.dur-sub {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

.alarms {
    width: 299px;
    height: 100%;
    margin: 0px 50px;
}

.alarms-title {
    width: 100%;
    text-align: center;
    font-size: 23px;
    color: #0000008a;
    padding: 20px 0px 10px 0px;
    box-sizing: border-box;
}

.alarm-box {
    position: relative;
    width: 240px;
    height: 140px;
    margin: 10px;
}

.alarm-box-actions {
    position: absolute;
    background-color: white;
    width: 105px;
    height: 80px;
    left: 0px;
    top: 30px;
    display: block;
    border-radius: 5px 0px 0px 5px;
    transition: left 0.5s, opacity 0.5s;
    opacity: 0;
}

.alarm-box-actions.show {
    left: -42px;
    opacity: 1;
}

.alarm-box:hover .alarm-box-actions {
    left: -42px;
    opacity: 1;
}

.alarm-box-actions .action {
    width: 32px;
    height: 32px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.alarm-box-actions .action:hover {
    background-color: #e8e8e8;
}

.alarm-box-actions .action:active {
    background-color: #e8e8e8;
    border: 1px solid #cacaca;
}

.alarm-holder {
    width: 240px;
    height: 140px;
    background-color: #0e4a3f;
    box-shadow: 2px 2px 12px 0px #00000099;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}

.alarm-details {
    width: 240px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    padding: 0px 5px;
    box-sizing: border-box;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-color: #00000057;
}

.alarms-list {
    width: 100%;
    height: calc(100% - 65px);
    overflow-y: auto;
    padding-left: 40px;
    box-sizing: border-box;
}

.alarms-list::-webkit-scrollbar-button {
    display: block;
    height: 3px;
    border-radius: 0px;
    background-color: #4f4f4f;
}

.alarms-list::-webkit-scrollbar-button:hover {
    background-color: #AAA;
}

.alarms-list::-webkit-scrollbar-thumb {
    background-color: #ffffff4a;
}

.alarms-list::-webkit-scrollbar-thumb:active {
    background-color: white;
}

.alarms-list::-webkit-scrollbar-track {
    background-color: #ffffff17;
}

.alarms-list::-webkit-scrollbar-track:hover {
}

.alarms-list::-webkit-scrollbar {
    width: 5px;
}

.createalarm {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    color: #000000;
    background: #14a76d;
}

.createalarm-titlebar {
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    color: white;
    border-bottom: 1px solid #0000003b;
}

.createalarm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createalarm-row {
    width: 250px;
    margin: 15px 0px;
}

.createalarm-label {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 3px;
    font-weight: bold;
}

.createalarm-label:hover {
    color: white;
}

.createalarm-text-input {
    border: none;
    background-color: #7b7b7b12;
    padding: 10px 10px;
    font-size: 20px;
    color: #000000;
    box-shadow: inset -1px -1px 4px 2px #00000021;
    border-radius: 5px;
    font-weight: bold;
}

.createalarm-text-input:focus {
    outline: none;
}

.duration-composite {
    display: flex;
    font-size: 75px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.twodigitedit-holder {
    display: block;
    font-family: 'digital-7-mono', sans-serif;
    font-size: 75px;
    height: 60px;
}

.twodigitedit-holder:focus {
    border: none;
    outline: none;
}

.twodigitedit-holder .number {
    cursor: pointer;
    transition: color 0.5s;
}

.twodigitedit-holder:hover .number {
    color: #2f2f2f;
}

.twodigitedit-holder:focus .number {
    color: white;
}

.duration-sep {
    display: block;
    font-family: 'digital-7-mono', sans-serif;
    font-size: 75px;
    height: 60px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button {
    padding: 8px 20px;
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    border-top: 3px solid transparent;
    margin: 0px 10px;
}

.button.green {
    border-top: 3px solid #4dc12e;
}

.button.red {
    border-top: 3px solid red;
}

.button.blue {
    border-top: 3px solid blue;
}

.button:hover {
    box-shadow: 2px 2px 2px #0000007d;
}

.button:active {
    box-shadow: none;
}

.reminderview {
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swatch-holder {
    width: 100%;
    display: flex;
}

.swatch {
    width: 20px;
    height: 20px;
    margin: 0px 2px;
    border: 2px solid #f3f3f3;
    border-radius: 6px 0px 6px 0px;
    box-shadow: 1px 1px 1px #00000066;
    cursor: pointer;
}

.swatch:hover {
    box-shadow: 1px 1px 2px #00000088;
}

.swatch:active {
    box-shadow: none;
}